{
  "extends": "airbnb-base",
  "rules": {
    "semi": [2, "never"],
    "no-console": ["off"],
    "no-await-in-loop": ["off"],
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement",
    ],
  },
}
